//Buttons
.btn-primary {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: var(--brand-green);
  color: var(--white);
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 1.6rem;
  border: 0.2rem solid var(--brand-green);
  transition: background-color 0.3s ease;

  &:hover {
    background-color: var(--brand-purple-01);
    border: 0.2rem solid var(--brand-purple-03);
  }
}

.btn-secondary {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: rgba($color: #fff, $alpha: 0.1);
  color: var(--white);
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
  font-size: 1.6rem;
  text-decoration: none;
  border-radius: 1.6rem;
  border: 0.2rem solid var(--white);
  transition: background-color 0.3s ease;
  &:hover {
    border: 0.2rem solid var(--brand-green);
    background-color: var(--brand-purple-01);
  }
}

//List 01
.list {
  width: 100%;
  max-width: 55.2rem;
  display: flex;
  align-items: center;
  background-color: var(--brand-purple-02);
  border-radius: 1.6rem;
  padding: 2.4rem;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    top: 0;
    width: 4.8rem;
    height: 1.2rem;
    border-radius: 0.8rem;
    background-color: var(--white);
  }
  .text {
    margin-left: 2.4rem;
    h3 {
      font-family: "Poppins", sans-serif;
      font-size: 2.4rem;
      line-height: 150%;
      font-weight: 600;
      color: var(--white);
    }
    p {
      font-family: "Poppins", sans-serif;
      font-size: 1.8rem;
      line-height: 150%;
      color: rgba($color: #fff, $alpha: 0.7);
    }
  }
  @media (max-width: 480px) {
    .text {
      h3 {
        font-size: 2rem;
      }
      p {
        font-size: 1.6rem;
      }
    }
  }
  @media (max-width: 386px) {
    .text {
      h3 {
        font-size: 1.6rem;
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
}

//Features
.feature {
  background-color: var(--brand-purple-01);
  width: 100%;
  max-width: 28rem;
  border-radius: 2.4rem;
  padding: 7.2rem 3.2rem 4.8rem 3.2rem;
  h3 {
    margin-top: 4rem;
    font-family: "Poppins", sans-serif;
    font-size: 2.4rem;
    line-height: 150%;
    font-weight: 600;
    color: var(--white);
    margin-bottom: 1.6rem;
  }
  p {
    width: 100%;
    max-width: 20rem;
    font-family: "Poppins", sans-serif;
    font-size: 1.8rem;
    line-height: 120%;
    color: rgba($color: #fff, $alpha: 0.7);
  }
  @media (max-width: 480px) {
    max-width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    h3 {
      font-size: 2rem;
      text-align: center;
    }
    p {
      font-size: 1.6rem;
      text-align: center;
    }
  }
}

//Differentiators
.differentiator {
  display: flex;
  align-items: center;
  .text {
    margin-left: 3.2rem;
    width: 100%;
    max-width: 72rem;
    h4 {
      font-family: "Poppins", sans-serif;
      font-size: 2.4rem;
      line-height: 150%;
      font-weight: 600;
      margin-bottom: 0.8rem;
      color: var(--brand-purple-02);
    }
    p {
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      line-height: 150%;
      color: var(--gray-01);
    }
  }
  @media (max-width: 580px) {
    .text {
      h4 {
        font-size: 2rem;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }
  @media (max-width: 386px) {
    flex-direction: column;
    justify-content: center;
    .text {
      margin-left: 0;
      margin-top: 1.6rem;
      h4,
      p {
        text-align: center;
      }
    }
  }
}

//Depoiment
.testimonial {
  background-color: var(--gray-05);
  width: 100%;
  max-width: 38.4rem;
  border-radius: 2.4rem;
  padding: 2.4rem 3.2rem;
  .top-testimonial {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2.4rem;
    p {
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      line-height: 150%;
      color: var(--gray-01);
      margin-top: 0.8rem;
    }
  }
  .bottom {
    h4 {
      font-family: "Poppins", sans-serif;
      font-size: 1.8rem;
      line-height: 150%;
      font-weight: 600;
      color: var(--brand-purple-02);
    }
    p {
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      line-height: 150%;
      color: var(--brand-purple-03);
    }
  }
  @media (max-width: 480px) {
    max-width: 100%;
    padding: 2rem 2.4rem;
    .top-testimonial {
      p {
        font-size: 1.5rem;
      }
    }
  }
}

.plan {
  background-color: var(--gray-05);
  border-radius: 1.6rem;
  width: 100%;
  max-width: 59.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .info {
    margin-left: 4rem;
    .top-info {
      h4 {
        font-family: "Poppins", sans-serif;
        font-size: 2.4rem;
        line-height: 150%;
        font-weight: 700;
        color: var(--brand-purple-02);
        margin-bottom: 0.8rem;
      }
    }
    .bottom-info {
      display: flex;
      align-items: center;
      p {
        margin-left: 1.6rem;
        font-family: "Poppins", sans-serif;
        font-size: 1.6rem;
        line-height: 150%;
        color: var(--brand-purple-02);
        font-weight: 600;
        width: 30rem;
        margin-right: 1.6rem;
      }
    }
  }
  .price {
    height: 12rem;
    width: 100%;
    max-width: 20.4rem;
    background-color: var(--brand-purple-02);
    border-radius: 1.6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    h3 {
      font-family: "Poppins", sans-serif;
      font-size: 5.6rem;
      line-height: 70%;
      font-weight: 700;
      color: var(--white);
      span {
        font-size: 2.4rem;
      }
    }
    p {
      font-family: "Poppins", sans-serif;
      font-size: 1.6rem;
      line-height: 0%;
      color: rgba($color: #fff, $alpha: 0.7);
    }
  }
  @media (max-width: 480px) {
    .info {
      margin-left: 2.4rem;
      .top-info {
        h4 {
          font-size: 1.8rem;
        }
      }
      .bottom-info {
        p {
          font-size: 1.2rem;
          margin-left: 0.8rem;
          width: 24rem;
        }
      }
    }
    .price {
      h3 {
        font-size: 4rem;
        line-height: 100%;
      }
      p {
        font-size: 1.4rem;
      }
    }
  }
  @media (max-width: 386px) {
    .info {
      .bottom-info {
        width: 20rem;
      }
    }
    .price {
      width: 12rem;
    }
  }
}
