* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
}

::selection {
  background-color: var(--brand-purple-03);
  color: var(--white);
}

img {
  max-width: 100%;
  display: block;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "League Spartan", sans-serif;
  font-size: 1rem;
}

a {
  text-decoration: none;
  display: inline-block;
}

section {
  @media (max-width: 1200px) {
    padding: 6rem 0rem !important;
  }
  @media (max-width: 768px) {
    padding: 5rem 0rem !important;
  }
  @media (max-width: 560px) {
    padding: 4rem 0rem !important;
  }
}
