:root {
  // Brand Colors
  --brand-purple-01: #412884;
  --brand-purple-02: #322871;
  --brand-purple-03: #8172de;
  --brand-green: #74ba60;

  // Gray Scale
  --gray-01: #4e4b59;
  --gray-02: #6c6a75;
  --gray-03: #9f9da8;
  --gray-04: #cfcfd2;
  --gray-05: #e8e8ea;

  // Neutral
  --white: #ffffff;
  --black: #000000;
}
